.from_container {

  // background: black;

  .from {
    margin: 20px auto;
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    // text-align: center;
    box-shadow: 1px 1px 40px #eee;
    // background: pink;
    // opacity: .6;
  }
}
