<!--The content below is only a placeholder and can be replaced.-->

<div class="app">
  <!-- <app-news></app-news> -->
  <!-- <h1 class="app_comp">
    Welcome to {{ title }}!666
  </h1> -->
  <!-- <app-home></app-home> -->
  <!-- <app-from></app-from> -->
  <!-- <app-search></app-search> -->
  <!-- <app-todolist></app-todolist> -->
  <!-- <app-doms></app-doms> -->
  <!-- <app-transition></app-transition> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-life-cycle [app]="Parentapp" *ngIf="flag"></app-life-cycle>
    <button (click)="changeApp()">父组件按钮，修改传给子组件的数据</button>
    <button (click)="chengeFlag()">卸载组件</button> -->
  <!-- <app-map-andfilter></app-map-andfilter> -->
  <!-- <app-request></app-request> -->
  <!-- <app-http></app-http> -->
</div>
<!-- <h2>朱文龙 </h2> -->
<div>
  <a [routerLink]="[ '/NewsComponent' ]" routerLinkActive="active">NewsComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a [routerLink]="[ '/HomeComponent' ]" routerLinkActive="active">HomeComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a [routerLink]="[ '/HeaderComponent' ]" routerLinkActive="active">HeaderComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a [routerLink]="[ '/FromComponent' ]" routerLinkActive="active">FromComponent页面</a> <span>&nbsp;&nbsp;</span>
  <br> <br>
  <a routerLink="/SearchComponent" routerLinkActive="active">SearchComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/TodolistComponent" routerLinkActive="active">TodolistComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/DomsComponent" routerLinkActive="active">DomsComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/TransitionComponent" routerLinkActive="active">TransitionComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/ParentComponent" routerLinkActive="active">ParentComponent页面</a> <span>&nbsp;&nbsp;</span>
  <br> <br>
  <a routerLink="/ChildComponent" routerLinkActive="active">ChildComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/FooterComponent" routerLinkActive="active">FooterComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/LifeCycleComponent" routerLinkActive="active">LifeCycleComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/RequestComponent" routerLinkActive="active">RequestComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/MapAndfilterComponent" routerLinkActive="active">MapAndfilterComponent页面</a> <span>&nbsp;&nbsp;</span>
  <br> <br>
  <a routerLink="/HttpComponent" routerLinkActive="active">HttpComponent页面</a> <span>&nbsp;&nbsp;</span>
  <a routerLink="/ProductComponent" routerLinkActive="active">商品列表</a> <span>&nbsp;&nbsp;</span>
  <a [routerLink]="[ '/ProductDetailComponent' ]" routerLinkActive="active">商品详情</a> <span>&nbsp;&nbsp;</span>
  <a [routerLink]="[ '/TemplateComponent' ]" routerLinkActive="active">项目模板</a> <span>&nbsp;&nbsp;</span>

  <!-- <a routerLink="home">home页面</a> <span>&nbsp;&nbsp;</span> -->

  <br>&nbsp;
  <hr>
</div>


<router-outlet></router-outlet>
